.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
    margin: 1rem auto;
  }
 
.rounded-table {
    margin: 1rem auto;
    border-radius: 1rem ; /* Ajuste o valor conforme necessário */
    overflow: hidden; /* Para garantir que as bordas arredondadas funcionem corretamente */
  }