<div class="conteiner">
    <form class="form mat-elevation-z20">

      <h1>Help Desk Dicas de um DEV</h1>

      <img src="assets/img/login-image.svg" alt="Help Desk - Dicas de um DEV">

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input 
          [formControl]="email"
          required
          [(ngModel)]="creds.email" 
          name="email" 
          matInput 
          placeholder="Ex. fulano@mail.com">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input 
            [formControl]="password"
            required
            [(ngModel)]="creds.password" 
            name="password" 
            type="password" 
            matInput 
            placeholder="Ex. 123456789">
          </mat-form-field>
      
          <button (click)="logInto()" [disabled]="!validatesFields()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
      </form>
      
</div>